matplotlib
omegaconf
torch
tdqm
einops
torchvision
IPython
scikit-image
opencv-python
rospkg
dm-env
h5py
Pillow
pynput
curobo
flask[async]
flask-cors
flask-socketio
eventlet
aiortc
aiohttp
aiohttp-cors
hypercorn
dynamixel_sdk
piper_sdk
pyusb
orator
python-can
datasets
jsonlines
draccus
safetensors
termcolor
gymnasium
diffusers
transformers

# # diffusion policy
# dill
# hydra-core

# # openpi
# jax
# jax-lib
# s3fs