Flask==3.1.2
werkzeug==3.1.5
flask-socketio==5.6.0
python-socketio==5.16.1
python-engineio==4.13.1
flask-cors
eventlet
requests

# AI / Data
matplotlib
omegaconf
tqdm
einops
scikit-image
opencv-python-headless
h5py
Pillow
datasets
jsonlines
draccus
safetensors
diffusers
transformers
zarr
scipy
scikit-learn
pandas
av
